# fly.toml - Fly.io configuration for VivuqeQRSystem

app = "stageup-qr"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

#[mounts]
#  source = "stageup_data"
 # destination = "/data"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
